# 0: Python Programming
## A. Welcome to Jupyter (a.k.a. Ipython Notebooks)
Take a while to adjust your bearings. Study the icons above.

There are two major types of cells:

1) Markdown cells - simple text. One can do html tags like <b>BOLD</b> or latex like $\beta$.

2) Code cells - cells where we can run code.

<b>Shortcuts</b>

1) <b>CTRL-M/ESC</b> then <b>H</b> to see help

2) <b>CTRL-M/ESC</b> then <b>S</b> to save notebook

3) <b>CTRL-ENTER</b> to Run Code but stay in the same cell

4) <b>SHIFT-ENTER</b> to Run Code and advance to the next cell

5) Using <b>%pylab inline</b> preceeding everything else in the notebook imports already matplotlib and numpy. It also enables our graphics to be part of the notebook.

6) You can use <b>TAB</b> to see available functions. You can use <b>SHIFT-TAB</b> repeatedly for the documentation.

In [4]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## B. Variables and Data Types

Python uses five standard data types:

### Numbers

In [5]:
varNum = 123
pi = 3.14159

In [11]:
pi
type(pi)

float

varNum is an Integer, thus it does not handle numbers with decimal places while pi is a Float where values in the decimal place are handled.

### Strings

In [17]:
varString = "Hello World!"
varText = 'This is a String'
print(varString)
print("The length of varString is "+ str(len(varString)))

Hello World!
The length of varString is 12

Strings may be declared with a single quote (') or double quote ("), some even use triple double quotes("""). One may use them interchangeable but some prefer to follow a specific format.

### Lists

In [18]:
varList = ["abc", 123]
print(varList)
print(len(varList))

['abc', 123]
2

You can think of Lists as similar to ArrayLists where the index starts at 0 and you can obtain the contents of a list by using brackets that contain the index of the element. You may also append items in the list and remove them as well.

### Tuples

In [20]:
varTuple = ('abc', 123, "HELLO")
print(varTuple)
print(len(varTuple))
print(varTuple[0])

('abc', 123, 'HELLO')
3
abc

It may seem like there are no differences between Tuples and Lists other than Tuples use parenthesis while lists use brackets, but actually there are minor differences. For one thing, Tuples are fixed structures thus do not have the luxury of Lists to append or remove elements. Generally Lists have a lot of other functions readily available as opposed to using Tuples.

<b>HINT:</b> You can try to type <b><i>varList.</i></b> in one line as well as <b><i>varTuple.</i></b> and press <b>TAB</b> after the period (.) in order to view possible functions you can call from that variable. You may also try to press <b>CTRL + TAB</b> when the text cursor.

However Tuples actually use less space in the memory as opposed to Lists, resulting in faster processing. One thing to take note of is that one would usually use Tuples when the size of the contents are static as opposed to Lists where one can use it to continuously modify the size and elements.

In [22]:
print(varList)
print(varList.__sizeof__())
print(varTuple)
print(varTuple.__sizeof__())

['abc', 123]
56
('abc', 123, 'HELLO')
48

### Dictionaries

In [24]:
var = 3
varDict = {'first':1.23123, 
           '2':'2nd', 
           3.123:var}
varDict

{'first': 1.23123, '2': '2nd', 3.123: 3}

You may also declare contents of dictionaries individually

In [27]:
varDict = {}
varDict['first'] = 1
varDict['2'] = '2nd'
varDict[3] = var
print(varDict['2'])

2nd

In [28]:
varDict = {}
varDict["example"] = {"number1" : 1, "number2" : 2}
varDict

{'example': {'number1': 1, 'number2': 2}}

If you have experience in using JavaScript Object Notation or JSON, Python's implementation of Dictionaries are quite similar to that. You may reference an element by inserting the label of the keypair.

## Arithmetic

Python uses basic arithmetic functions which are normally present on most if not all programming languages.

### Addition

In [29]:
a = 5 + 3
a

8

### Subtraction

In [30]:
a = 5 - 3
a

2

### Multiplication

In [31]:
a = 5 * 3
a

15

### Exponent

In [32]:
a = 5 ** 3
a

125

### Division

In [33]:
a = 5 / 3
a

1.6666666666666667

### Modulus Division

In [34]:
a = 5 % 3
a

2

### Integer Division

In [35]:
a = 5 // 3
a

1

### Increment

In [36]:
a = 5
a += 1
a

6

### Decrement

In [2]:
a = 5
a -= 1
a

4

<b>NOTE:</b> Python does not support the increment/decrement syntax of <b>x++/x--</b> instead you may use the syntax of <b>x+=1/x-=1</b> which is similar to <b>x=x+1/x=x-1</b>

### String Concatenation

In [38]:
a = 'Hello ' + 'World!'
a

'Hello World!'

Strings may also be appended with the use of the plus <b>(+)</b> symbol

### Complex Expressions

In [39]:
a = 3 + 5 - 6 * 2 / 4
a

5.0

## Challenge! Write the following to code

$$ g(z) = \frac{1}{1+e^{-z}}  $$

1) z = 8, and e = 2.718 should be equal to 0.9996643716832646

2) z = 2, and e = 2.718 should be equal to 0.8807753038918279

Hint: import numpy, and use numpy.exp

In [4]:
z = 8
e= 2.718

# Write your code here #
g = None
# End of code #

print(g)

None

<b><i>TRIVIA</i></b>: The value <b>e</b>, also called <b>Euler's number</b>, is a mathematical constant representing an irrational number that is approximately <b>2.71828</b>. Irrational, meaning the constant <b>e</b> is a real number that is unending and is unable to accurately be represented as a fraction, similar to that of <b>pi</b>.

## C. Control Statements and Data Structures
## Conditional Statements
In Python, curly brackets are not used to designate that multiple commands are inside a conditional statement, instead uniform spacing is used. Please take note however that the composition of the uniform spacing must be the same, such that if 4 spaces are being used, even though 4 spaces may have a visually similar result as a tab, interchanging them would produce an error statement
### Boolean Condition

In [51]:
x = True
if x:
    print("var x is True")
else:
    print("var x is False")

var x is True

### String Condition

In [54]:
x = "Hello World!"

if x == 'Hello World!':
    print("var x is Hello World!")
else:
    print("var x is not Hello World!")

var x is Hello World!

### Numerical Condition

In [57]:
x = '10'

if x == '10':
    print("var x is a String")
elif x == 10:
    print("var x is an Integer")
else:
    print("var x is none of the above")
    
type(x)

var x is a String

str

### Multiple Conditions

In [58]:
x = 10

if x > 5 and x < 15 and x == 10:
    print("var x is really 10!")
else:
    print("var x is not really 10")

var x is really 10!

In [ ]:
x = 10

if x == 10 or x == 20:
    print("var x can be 10 or 20")
else:
    print("var x is not 10 nor 20")

In [62]:
if True ^ True: 
    print("True!")
elif True:
    print("second True")

second True

## Loops
Similar with that of Conditional Statements, commands within a loop are designated by having a uniform spacing.
### For Loops

In [63]:
range(5)

range(0, 5)

In [67]:
for v in range(0,10,2):
    print(v)

0
2
4
6
8

<b>NOTE:</b> The command <b>range(0,5,2)</b> is equivalent to all numbers from 0 incremented by 2 until it reaches the number less than 5

In [68]:
[v for v in range(0,5)]

[0, 1, 2, 3, 4]

<b>NOTE:</b> range([start], stop, [step])

### While Loops

In [69]:
var = 0
while var < 5:
    print(var)
    var += 2

0
2
4

### Nested Loops

In [70]:
x = 0
while x < 5:
    for y in range(0, x):
        print(y, end='')
    x+=1
    print()

0
01
012
0123

Always take note that there should be a colon <b>(:)</b> on the line where one delcares the loop or condition

## Lists

In [77]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[0])

1

For more information regarding lists, this has been discussed on section B. Data Types and Variables.
You can chose to insert different datatypes in a single list.

In [74]:
print(varList[4])

Hello!

You may call the content of the list through indexing

In [82]:
varList.append('World!')
print(varList)

[1, 2, 'A', 'B', 'Hello!', 3.14159, 'World!', 'World!', 'World!', 'World!']

You may also append items in the list. The example above shows you that when you added a new list item, it would be added towards the end of list

In [80]:
len(varList)

8

You may obtain the number of elements in a list by calling the <b>len()</b> function

In [ ]:
print(varList[5])

In [83]:
varList.remove(pi)
print(varList)

[1, 2, 'A', 'B', 'Hello!', 'World!', 'World!', 'World!', 'World!']

Initially <b>varList[5]</b> was called and the result was 3.14159, however when the <b>remove()</b> function was called, it iterates though the list looking for the first match then erases that value.

## Dictionaries

In [85]:
var = "Hello World!"
varDict = {'first' : 123, 2 : 'abc', '3' : var, 4:['lista', 'listb']}
print(varDict[4][0])

lista

## List Generators and Comprehension

In [86]:
def gen_num_up_to(n):
    num = 0
    while num < n:
        yield num
        num += 1

In [87]:
gen_num_up_to(5)

In [90]:
varList = gen_num_up_to(10)
print([var for var in varList])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
def return2values(step=2):
    return 2+step,3+step

x = return2values(step=10)
x

(12, 13)

In [101]:
def gen_num_up_to(n, step=1):
    num = 0
    while num < n:
        yield num
        num += step

varList = gen_num_up_to(20)
print([var for var in varList])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
varList = range(5)
print([var for var in varList])

## Slicing

In [102]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
varList[:5]

[1, 2, 3, 4, 5]

In [106]:
varList[5:]

[6, 7, 8, 9, 10]

In [107]:
varList[:-2]

[1, 2, 3, 4, 5, 6, 7, 8]

In [108]:
varList[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [109]:
varList[2:-2]

[3, 4, 5, 6, 7, 8]

In [110]:
varList[2:8:2]

[3, 5, 7]

<b>NOTE</b> <i>list([start]: end : [
step])

## D. Functions

Functions use the following notation:

def <i>function_name</i>:<br>
<pre><i> input commands here </i></pre>

Here is a sample function. np.random.randint(a, [b]) outputs uniformly random values from $[a,b) $

In [ ]:
def remainder(n, m):
    while True:
        if n - m < 0:
            return n
        else:
            n = n - m

In [ ]:
remainder(10, 4)

## Challenge: Coin Flip
Create a function that simulates coin flips repeated n times. Make the function a generator with a parameter n for the number of coin flips. Use np.random.randint to simulate a coin flip.

After defining this function, output a list using a list comprehension similar to the above example.

1

# Vectors, Matrices and Computation
In Python, you can use <b>NUMPY</b> or <b>np</b> through the use of <b>import numpy as np</b> in order to easily use functions for vectors and matrices.

In [143]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [145]:
np.array(range(100))

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

It's the same as just:

In [150]:
a = np.arange(0,10,0.5)

In [152]:
a.shape

(20,)

In [ ]:
print(np.arange(0, 100))

## Computing vector computations
### Vector to scalar

In [154]:
varArray = np.arange(0, 5)
print(varArray)
varArray*2

[0 1 2 3 4]

array([0, 2, 4, 6, 8])

### Vector to vector: Dot Product

In [159]:
varArrayA = np.arange(0,5)
varArrayB = np.arange(5,10)

print(varArrayA)
print(varArrayB)

np.sum(varArrayA)

[0 1 2 3 4]
[5 6 7 8 9]

10

In [164]:
c = np.array([varArrayA, varArrayB])
c

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [167]:
print(np.sum(c, axis=0))

[ 5  7  9 11 13]

### Vector to vector: Element-wise multiplication

In [168]:
varArrayA * varArrayB

array([ 0,  6, 14, 24, 36])

## Matrix to Scalar: Element-wise multiplication

In [169]:
mat_a = np.random.randint(0, 5, size=(4,4))
print(mat_a)

[[0 0 3 3]
 [4 1 4 2]
 [1 0 3 2]
 [1 2 1 3]]

## Matrix to Matrix: Matrix Multiplication

In [171]:
mat_a **2

array([[ 0,  0,  9,  9],
       [16,  1, 16,  4],
       [ 1,  0,  9,  4],
       [ 1,  4,  1,  9]])